<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
</head>

<!--application initialisation-->

<body  ng-app="toDoApp">


<div>

    <ul>
        <li><a href="#/">Index</a></li>
        <li><a href="#calculator">Calculator</a></li>
        <li><a href="#tasks">Tasks</a></li>
    </ul>

    <div ng-view></div>

    <script type="text/ng-template" id="index.html">

        <p>Index</p>
    </script>

    <script type="text/ng-template" id="calculator.html">

        <div ng-init="ksh=1;rate=102">

            <h1>Basic Angular Js</h1>

            <!--Two way data binding-->
            <p>Name : <input type="text" ng-model="name"></p>

            <!--filter usage-->

            <h1>Hello {{name | uppercase }}</h1>

            <h2>Currency Exchange</h2>

            Kenya Shillings : <input type="number" ng-model="ksh">

            Exchange Rate:    <input type="number" ng-model="rate"><br/><br/>

            <!--currency filter-->

            Total in dollar: {{ ksh / rate | currency }}

        </div>
    </script>

    <script type="text/ng-template" id="tasks.html">

        <h1>My Task List</h1>

        <table cellpadding="10px">

            <tr>

                <th colspan="4">Active Tasks ({{ tasks.length }})</th>

            </tr>
            <!--ng hide directive-->
            <tr ng-hide="tasks.length">

                <td colspan="5"> You have no active tasks!</td>

            </tr>

            <tr ng-repeat="task in tasks">

                <td><input type="checkbox" ng-click="markcomplete($index, tasks, completed)" /></td>

                <td>{{ task.id }}</td>

                <td>{{ task.name }}</td>

                <td>{{ task.date }}</td>

                <td> <button ng-click="deleteTask(task)" style="color: white;background-color:red">X</button></td>

            </tr>


        </table><br/>




        <!--completed tasks-->

        <table cellpadding="10px" >

            <tr ng-show="completed.length">

                <th colspan="4">Completed Tasks  ({{ completed.length }})</th>

            </tr>

            <tr ng-repeat="task in completed">

                <td><input type="checkbox" ng-click="markcomplete($index, completed, tasks)" checked /></td>

                <td>{{task.id }}</td>

                <td>{{ task.name }}</td>

                <td>{{ task.date }}</td>

            </tr>


        </table>

        <!--adding new task-->

        <h2>Add a Task</h2>

        <form ng-submit="addTask()">

            <input type="text" placeholder="Description" ng-model="newTaskName" />

            <input type="submit" value="Add" style="color: white;background-color:green"/>
        </form><br/>

    </script>

</div>




<script src="app.js"></script>
</body>
</html>